@import "colours.less";


.login {
	margin-top: 100px;
	color: white;

	.title {
		font-size: 2.5rem;
		text-align: center;
	}

	form {
		margin-top: 50px;
	}

	label {
		color: white !important;
		font-size: 1.5rem !important;
		line-height: 1.7rem !important;
		margin-bottom: 10px !important;
		text-align: center !important;
	}

	input {
		font-size: 1.5rem !important;
	}
}

@media only screen and (max-device-width: 750px) {
	.login {
		margin-top: 30% !important;
	}
}
