@import "colours.less";


body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: @backgroundDark !important;
}

.messages {
	background-color: @backgroundDark;
	padding-left: 0 !important;

	h2 {
		padding: 10px 20px;
		color: @textContrast;
		background-color: @backgroundDarker;
	}
}

.conversations {
	background-color: @backgroundDarker;

	h2 {
		padding: 10px 20px;
		color: @textContrast;

		.icon {
			float: right;
			margin-top: 2px;
		}
	}

	.list {
		height: ~'calc(100vh - 80px)';
		overflow-y: scroll;

		.item {
			padding: 5px 20px !important;
			margin-bottom: 5px;
			cursor: pointer;

			.content .header {
				color: @textContrast;
			}
		}

		.item.active {
			font-size: 1.1em;

			.content .header {
				color: white !important;
			}
		}
	}
}
