@import "colours.less";


body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.messages {
	background-color: @backgroundDark;
	padding-left: 0 !important;

	h2 {
		padding: 10px 20px;
		color: @textContrast;
		background-color: @backgroundDarker;
	}
}

.conversations {
	background-color: @backgroundDarker;

	h2 {
		padding: 10px 20px;
		color: @textContrast;

		.icon {
			float: right;
			margin-top: 2px;
		}
	}

	.list {
		height: ~'calc(100vh - 80px)';
		overflow-y: scroll;

		.item {
			padding: 5px 20px !important;
			margin-bottom: 5px;
			cursor: pointer;

			.content .header {
				color: @textContrast;
			}
		}

		.item.active {
			font-size: 1.1em;

			.content .header {
				color: white !important;
			}
		}
	}
}

// .conversations-list-panel {
// 	display: inline-flex;
// 	height: 100vh;
// 	width: 30%;
// 	background-color: grey;
//
// 	.top-menu {
// 		display: inline-flex;
// 		height: 60px;
// 		width: 30vw;
// 		background-color: red;
// 	}
//
// 	.conversations-list {
// 		-webkit-padding-start: 0;
// 		list-style: none;
// 		padding-left: 20px;
//
// 		li {
// 			border-bottom: 1px solid white;
// 			padding: 10px 0;
//
// 			a {
// 				text-decoration: none;
// 				img {
// 					float: left;
// 					border-radius: 100%;
// 				}
//
// 				span {
// 					font-size: 1.2em;
// 					line-height: 50px;
// 					color: white;
// 					margin-left: 20px;
// 				}
// 			}
// 		}
// 	}
// }
//
//
//
// .conversation-panel {
// 	display: inline-flex;
// 	height: 100vh;
// 	width: 70%;
// 	background-color: @lightgray;
//
// 	.top-menu {
// 		display: inline-flex;
// 		height: 60px;
// 		width: 70vw;
// 		background-color: @primary;
//
// 		.user-image {
// 			display: block;
// 			height: 60px;
// 			width: 60px;
// 		}
//
// 		.user-name {
// 			display: block;
// 			line-height: 60px;
// 			font-size: 1.6em;
// 			color: white;
// 			padding: 0 10px;
// 		}
// 	}
//
// 	.messages {
// 		width: 70vw;
// 		position: relative;
// 	}
// }
